.unhappyMessage {
	display: block;
	background: #1D74AA;
	border-radius: 2.5px;
	border: 1px solid #175D89;
	width: 350px;
	color: #fff;
	font-weight: 700;
	padding: 4px 8px;
}
.unhappyMessage li, .unhappyMessage ul {
	color: #fff;
	margin: 0;
	padding: 0;
}