/*
body { margin: 0px; padding: 0px; background: #f1f1f1; }
body { font: normal 12px "Trebuchet MS"; color: #454545; }			
h1, h2, h3 { margin: 0px; padding: 0px; text-shadow: 1px 1px 0px #fff; font-size: 18px; }
div { border-collapse: collapse; margin: 0px; padding: 0px;}
*/

/******* CUSTOM (SMART)INFOWINDOW CUSTOM CSS *******/
.hc-map-infowindow {width: 275px;}
.hc-left-col div { width: 115px; }


.hc-selected-listing, .hc-selected-listing tr, .hc-selected-listing tr td { background-color: #FFFF66; }


/*.hc-map-pic {float: left; }*/
.hc-map-pic img { width: 110px; }
.hc-right-col div { font-size: 12px; }


.imagePosition img {width: 142px;}
.hc_Tile {margin: 18px 0px; cursor: pointer; }
a.hc_lnk {text-decoration: none; color: #454545; text-shadow: 1px 1px 0px #fff;}			
a.hc_lnk:link, a:visited, a:active { text-decoration: none; }			
a.hc_lnk:hover { text-decoration:none; color: #911a05; -webkit-transition:color .3s ease-in; -moz-transition:color .3s ease-in; -o-transition:color .3s ease-in; }

.topSpace { margin: 200px auto; display: block; }

.searchBackground { width: 600px; height: 236px; background: url(images/main-bg.png) top repeat-x; box-shadow: 0 0 5px #ccc; text-align: left; border: 1px solid #cacaca; }
.searchBackground h2 { margin: 0px; padding: 0 15px 0 0; text-align: right; line-height: 40px; font-size: 13px; white-space: pre; text-shadow: 1px 1px 1px #fff;}
.searchBackground h3 { margin: 8px 0 0 0; padding: 0 0 0 22px; text-align: left; font-size: 12px; line-height: 16px; color: #272727; background: url(images/icons.png) no-repeat; background-position: 0px -133px; float: left;}

.imageSection { width: 25%; padding: 20px 0 0 0; float: left; position: absolute;}
/*.imageFrame { width: 168px; background: url(images/image-frame.png) top no-repeat; margin: 4px 0 0 6px; text-align: left;}*/
.imagePosition { width: 140px; margin: 0 0 0 14px; padding: 12px 0 0 0;}

.hc_Section { width: 72%; height: 195px; float: right; font-size: 12px; font-weight: 700; }
.hc_SHeader { width: 100%; height: 43px !important; margin: 0px; padding: 0px; text-align: right; display: block; cursor: pointer; overflow: hidden; font-weight: 700;}
.hc_SContent { width: 395px; }

.hc_SCTitle { width: 400px !important; height: 30px; background: url(images/lb.png) bottom repeat-x; }
.hc_ReadMore_Lnk { text-align: right; margin: 7px 12px 0 0; padding: 0 0 0 22px; font-size: 10px; line-height: 17px; background: url(images/icons.png) no-repeat; background-position: 0px -148px; float: right; text-shadow: 1px 1px 0 #fff; }

.hc_SCDescript { width: 400px !important; font-size: 12px; color: #454545; height: 48px; margin: 0 0 5px 0; line-height: 12px; text-shadow: 1px 1px 0px #fff;}

.hc_HouseInfo { width: 397px !important; background: #f1f1f1 url() top no-repeat; display: block; border: 1px dashed #cacaca; margin: 0px; }
.hc_HouseInfo ul, .hc_HouseInfo li { list-style-type: none; }
.hc_HouseInfo ul { width: 350px; height: 40px !important; padding: 4px 0 7px 15px; margin: 0px;}
.hc_HouseInfo li { width: 42%; height: 15px; line-height: 16px; display: inline-block; padding: 0 0 0 5px; float: left; font-weight: 700; text-shadow: 1px 1px 0 #fff; color: #454545; }

.hc_bottomBar { width: 100%; line-height: 40px; text-shadow: 1px 1px 0 #fff; }
.hc_viewDetails a { margin: 11px 25px 0 15px; padding: 0 0 0 26px; font-size: 12px; line-height: 22px; background: url(images/icons.png) no-repeat; background-position: 0px -67px; float: left; }
.hc_viewDetails a:hover { background-position: 0px -45px; }
.hc_addFav a { margin: 11px 25px 0 0; padding: 0 0 0 26px; font-size: 12px; line-height: 22px; background: url(images/icons.png) no-repeat; background-position: 0px -23px; float: left;}
.hc_addFav a:hover { background-position: 0px -1px; }
.hc_mapSearch { padding: 0 0 0 0;}
.hc_mapSearch a { margin: 11px 15px 0 0; padding: 0 0 0 26px; font-size: 12px; line-height: 22px; background: url(images/icons.png) no-repeat; background-position: 0px -111px; float: right;}
.hc_mapSearch a:hover { background-position: 0px -89px;}

.hc_ribbonContainer { clear: all; float: left; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); }

.hc_ribbon{ width: 124px !important; height: 150px !important; background: url(images/ribbon.png) top no-repeat; margin: -6px 0 0 -6px; position: absolute; z-index: 5000;}

a.morePhotos { position: relative; left: 37px; top: -80px; z-index: 9000; width: 96px !important; height: 22px; display: block; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
a.morePhotos:hover { background: url(images/more-photos-button.png) top no-repeat; box-shadow: 0 0 5px #333; }

.clear { clear: both; }
.rounded-corners { -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }


/*.hc_addFav {display: none;}
.hc_mapSearch {display: none;}*/
	.hc_SContent .hc_broker {float: right;}

