.pd_icon_home:hover, .pd_icon_home:active {
	background: url(images/prop-iconsprite.png) no-repeat;
	background-position: 0 -46px;
}
.pd_icon_email:hover, .pd_icon_home:active {
	background: url(images/prop-iconsprite.png) no-repeat;
	background-position: -45px -46px;	
}
.pd_icon_map:hover, .pd_icon_home:active {
	background: url(images/prop-iconsprite.png) no-repeat;
	background-position: -90px -46px;	
}
.pd_icon_save:hover, .pd_icon_home:active {
	background: url(images/prop-iconsprite.png) no-repeat;
	background-position: -135px -46px;	
}
.pd_icon_share:hover, .pd_icon_home:active {
	background: url(images/prop-iconsprite.png) no-repeat;
	background-position: -180px -46px;	
}
.pd_icon_apply:hover, .pd_icon_home:active {
	background: url(images/prop-iconsprite.png) no-repeat;
	background-position: -225px -46px;	
}
.pd_icon_idx:hover, .pd_icon_home:active {
	background: url(images/idx-icon.png) no-repeat;
	background-position: 25px 5px;
	color: #2389c8;
}
.pd_icon_cog:hover, .pd_icon_home:active {
	background: url(images/prop-iconsprite.png) no-repeat;
	background-position: -270px -46px;	
}

.pd_show_prop_hover {
background:url(images/view-prop-img.png) center center no-repeat;
display:block;
height:110px;
position:relative;
width:155px
}